registry = "https://registry.npmmirror.com"

strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
# dedupe-peer-dependents=true
# legacy-peer-deps=true
# ignore-workspace-root-check=true
